*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
}

.text
        {
            width: 100%;
            text-align: center;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-weight: 800;
            font-size: 3rem;
            color: rgb(29, 61, 243);
            animation: text1 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
        }
        @keyframes text1 
        {
            0%
            {
                transform: translateY(0);
                transform-origin: 50% 50%;
                text-shadow: none;
            }
            100%
            {
                transform: translateY(-30px);
                transform-origin: 50% 50%;
                text-shadow: 0 1px 0  rgb(12, 20, 2),
                0 2px 0 rgb(12, 20, 2),
                0 3px 0 rgb(12, 20, 2),
                0 4px 0  rgb(12, 20, 2),
                0 5px 0  rgb(12, 20, 2),
                0 6px 0  rgb(12, 20, 2),
                0 7px 0  rgb(12, 20, 2),
                0 8px 0  rgb(12, 20, 2),
                0 9px 0  rgb(12, 20, 2), 0 50px 30px rgba(0, 0,0,0.3);
            }
        }
.log{
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
}
.button{
    text-decoration: none;
    height: auto;
    width: auto;
    padding: 10px 40px;
    border-radius: 7px;
    background-color:#2eb19a;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
    transition-duration: 1s; 
    cursor: pointer;
}

.button:hover {
    background-color:white;
    color:#2eb19a;
}

